@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


[x-cloak] {
    display: none;
}

/* Transición de desvanecimiento */
.transition-opacity {
  transition-property: opacity;
  transition-duration: 0.5s;
}